.wrap{
  padding: 23px 0;
}

.a{
  float: left;
  width: 25%;
  text-align: center;
}

.icon1{
  background: url(./images/icon_pyq.png);
}

.icon2{
  background: url(./images/icon_nt.png);
}

.icon3{
  background: url(./images/icon_hz.png);
}

.icon4{
  background: url(./images/icon_qt.png);
}

.icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
}

.text{
  font-size: 12px;
  color: #373737;
  margin-top: 16px;
}
