.wrap{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  border-top: 1px solid #cccbcb; /*no*/
  display: flex;
  transform: rotate(0);
  background: #fff;
}

.a{
  position: relative;
  display: block;
  flex-grow: 1;
  text-align: center;
}

.wrap:after{
  content: '';
  width: 2px; /*no*/
  height: 80px;
  background: #e9e9e9;
  position: absolute;
  left: 50%;
  top: 15px;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon2_gray {
  background: url(./images/icon2_gray.png) no-repeat;
  width: 45px;
  height: 47px;
}
.icon2 {
  // background-position: 0px -57px;
  background: url(./images/icon2.png) no-repeat;
  width: 45px;
  height: 47px;
}
.icon1 {
  // background-position: 0px -114px;
  background: url(./images/icon1.png) no-repeat;
  width: 45px;
  height: 53px;
}
.icon1_gray {
  // background-position: 0px -177px;
  background: url(./images/icon1_gray.png) no-repeat;
  width: 47px;
  height: 56px;
}

.text{
  margin-top: 9px;
  font-size: 24px;
  color: #000;
}

.textActive{
  @extend .text;
  color: #5e78fa;
}

.icon{
  display: inline-block;
  background-size: contain;
}
