.icon{
  position: fixed;
  z-index: 99;
  right:18px;
  bottom: 116px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(./images/icon.png) no-repeat;
  background-size: contain;
}
